<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437873685944-72f4dbqvt7ghvhhbgq3o616ffrp7er3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437873685944-72f4dbqvt7ghvhhbgq3o616ffrp7er3f</string>
	<key>API_KEY</key>
	<string>AIzaSyAAk3VQAR0pk81kHaKJ2_qVJcXLfnP2S_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>437873685944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coina</string>
	<key>PROJECT_ID</key>
	<string>coina-sienava</string>
	<key>STORAGE_BUCKET</key>
	<string>coina-sienava.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437873685944:ios:bb671e9043c5023e0e0b4d</string>
</dict>
</plist>